# ----------------------------------------------------------------------#
# Java defaults
# ----------------------------------------------------------------------#
*.class
*.war
*.ear

# ----------------------------------------------------------------------#
# Application specific stuff
# ----------------------------------------------------------------------#
activemq-data
derby.log
#training/

# ----------------------------------------------------------------------#
# Eclipse-specific
# ----------------------------------------------------------------------#
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath
.externalToolBuilders/
.launch
.cproject
.buildpath

# ----------------------------------------------------------------------#
# Studio-specific #
# ----------------------------------------------------------------------#
.studio/
caches/
flows/
target/
.mflow
.mule/
mule-project.xml

# ----------------------------------------------------------------------#
# Intellij specific
# ----------------------------------------------------------------------#
.idea/
*.iml

# ----------------------------------------------------------------------#
# OS specific
# ----------------------------------------------------------------------#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Icon
/nbactions.xml