<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Appenders>
        <Console name="Brief" target="SYSTEM_OUT">
            <PatternLayout pattern="|%-5p | %d | %c - %m%n"/>
        </Console>
        <Console name="Default" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] %c: %m%n"/>
        </Console>
    </Appenders>
    
    <Loggers>
        <!-- CXF is used heavily by Mule for web services -->
        <AsyncLogger name="org.apache.cxf" level="WARN"/>

        <!-- Apache Commons tend to make a lot of noise which can clutter the log-->
        <AsyncLogger name="org.apache" level="WARN"/>

        <!-- Reduce startup noise -->
        <AsyncLogger name="org.springframework.beans.factory" level="WARN"/>

        <!-- Mule classes -->
        <AsyncLogger name="org.mule" level="INFO"/>
        <AsyncLogger name="com.mulesoft" level="INFO"/>
        <AsyncLogger name="org.mule.transport.DefaultReplyToHandler" level="OFF"/>

        <!-- Reduce DM verbosity -->
        <AsyncLogger name="org.jetel" level="WARN"/>
        <AsyncLogger name="Tracking" level="WARN"/>


        <AsyncRoot level="INFO">
            <AppenderRef ref="Brief" />
        </AsyncRoot>
    </Loggers>
</Configuration>